
        .bg-primary-2 {
            background-color: #FF69B4;
        }

        .bg-secondary-2 {
            background: #1b1b1b;
        }

        .text-underline {
            text-decoration: underline;
        }

        .text-bold {
            font-weight: 700;
        }

        .text-italic {
            font-style: italic;
        }

        .text-small {
            font-size: 0.8em;
        }

        .flex-grow-1 {
            flex-grow: 1;
        }

        #btn-top {
            position: fixed;
            z-index: 999;
            bottom: 1em;
            top: auto;
            left: auto;
            right: 1em;
            margin-left: -1.9rem;
            opacity: .66;
            display: none;
        }

        .instagram_feed {
            overflow:hidden;
        }

        #jsonHere {
            max-height: 60vh;
            overflow: auto;
        }

        #instagram_feed"{
            box-shadow: 4px 8px 12px black;
        }